@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


body {
	font-family: 'Quicksand', sans-serif;
	background-image: url("./images/background.png");
	background-size: cover;
	display:flex;
	flex-wrap: wrap;
}

.summary {
	flex-basis: 100%;
	align-items: center;
	box-sizing: border-box;
}

.question {
	flex-basis: 50%;
	box-sizing: border-box;
	font-weight: 500;
}

#openModal {
	flex-basis: 100%;
	box-sizing: border-box;
	align-items: center;
}

#theVibe {
	padding-left: 10%;
	
}
#theDrink{
	padding-left: 10%;
}

header {
    display: flex;
    height: 20vh;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.image {
	background-image: url(./images/logo.png);
    background-position: center;
    background-size: cover;
	width: 30vh;
}

.nameOfWebsite {
    align-content: center;
}

h1{
    text-align: center;
	font-weight: 400;
}

header div {
    /* border: peru solid 2px;  */
    flex-basis: 20vh;
}

h2 {
	text-align: center;
	font-weight: 400;
}
 




#modal {
	background-color: rgba(100,0,50,0.5);
	position: fixed;
	top: 0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color:pink;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
	padding: 2%;
	line-height: 120%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

#modal-footer {
	text-align: right;
}

button{
	font-family: 'Quicksand', sans-serif;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 5%;
	text-align: center;
	font-weight: 500;
	font-size:20px;
	background-color: peachpuff;
	color: brown;
}